#cnt1 {
    background-color: rgba(215, 212, 212, 0.88);
    width: 100vw;
    height: 100vh;
}

#panel1 {
    top: 20vh;
    left: 20vw;
    display:inline-block;
}

.panel-body:not(.two-col) {
    padding: 0px;
}

.panel-body .radio, .panel-body .checkbox {
    margin-top: 0px;
    margin-bottom: 0px;
}

.panel-body .list-group {
    margin-bottom: 0;
}

.margin-bottom-none {
    margin-bottom: 0;
}

.next-button-section {
    text-align: right;
}


%button {
    display:inline-block;
}
